/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.antd-v3-timeline {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
  list-style: none;
}
.antd-v3-timeline-item {
  position: relative;
  margin: 0;
  padding: 0 0 20px;
  font-size: 14px;
  list-style: none;
}
.antd-v3-timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 4px;
  height: calc(100% - 10px);
  border-left: 2px solid #e8e8e8;
}
.antd-v3-timeline-item-pending .antd-v3-timeline-item-head {
  font-size: 12px;
  background-color: transparent;
}
.antd-v3-timeline-item-pending .antd-v3-timeline-item-tail {
  display: none;
}
.antd-v3-timeline-item-head {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 100px;
}
.antd-v3-timeline-item-head-blue {
  color: #1890ff;
  border-color: #1890ff;
}
.antd-v3-timeline-item-head-red {
  color: #f5222d;
  border-color: #f5222d;
}
.antd-v3-timeline-item-head-green {
  color: #52c41a;
  border-color: #52c41a;
}
.antd-v3-timeline-item-head-gray {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}
.antd-v3-timeline-item-head-custom {
  position: absolute;
  top: 5.5px;
  left: 5px;
  width: auto;
  height: auto;
  margin-top: 0;
  padding: 3px 1px;
  line-height: 1;
  text-align: center;
  border: 0;
  border-radius: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.antd-v3-timeline-item-content {
  position: relative;
  top: -6px;
  margin: 0 0 0 18px;
  word-break: break-word;
}
.antd-v3-timeline-item-last > .antd-v3-timeline-item-tail {
  display: none;
}
.antd-v3-timeline-item-last > .antd-v3-timeline-item-content {
  min-height: 48px;
}
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-tail,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-tail,
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-head,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-head,
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-head-custom,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-head-custom {
  left: 50%;
}
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-head,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-head {
  margin-left: -4px;
}
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-head-custom,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-head-custom {
  margin-left: 1px;
}
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-left .antd-v3-timeline-item-content,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-left .antd-v3-timeline-item-content {
  left: calc(50% - 4px);
  width: calc(50% - 14px);
  text-align: left;
}
.antd-v3-timeline.antd-v3-timeline-alternate .antd-v3-timeline-item-right .antd-v3-timeline-item-content,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-right .antd-v3-timeline-item-content {
  width: calc(50% - 12px);
  margin: 0;
  text-align: right;
}
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-right .antd-v3-timeline-item-tail,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-right .antd-v3-timeline-item-head,
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-right .antd-v3-timeline-item-head-custom {
  left: calc(100% - 4px - 2px);
}
.antd-v3-timeline.antd-v3-timeline-right .antd-v3-timeline-item-right .antd-v3-timeline-item-content {
  width: calc(100% - 18px);
}
.antd-v3-timeline.antd-v3-timeline-pending .antd-v3-timeline-item-last .antd-v3-timeline-item-tail {
  display: block;
  height: calc(100% - 14px);
  border-left: 2px dotted #e8e8e8;
}
.antd-v3-timeline.antd-v3-timeline-reverse .antd-v3-timeline-item-last .antd-v3-timeline-item-tail {
  display: none;
}
.antd-v3-timeline.antd-v3-timeline-reverse .antd-v3-timeline-item-pending .antd-v3-timeline-item-tail {
  top: 15px;
  display: block;
  height: calc(100% - 15px);
  border-left: 2px dotted #e8e8e8;
}
.antd-v3-timeline.antd-v3-timeline-reverse .antd-v3-timeline-item-pending .antd-v3-timeline-item-content {
  min-height: 48px;
}
