/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.antd-v3-result {
  padding: 48px 32px;
}
.antd-v3-result-success .antd-v3-result-icon > .anticon {
  color: #52c41a;
}
.antd-v3-result-error .antd-v3-result-icon > .anticon {
  color: #f5222d;
}
.antd-v3-result-info .antd-v3-result-icon > .anticon {
  color: #1890ff;
}
.antd-v3-result-warning .antd-v3-result-icon > .anticon {
  color: #faad14;
}
.antd-v3-result-image {
  width: 250px;
  height: 295px;
  margin: auto;
}
.antd-v3-result-icon {
  margin-bottom: 24px;
  text-align: center;
}
.antd-v3-result-icon > .anticon {
  font-size: 72px;
}
.antd-v3-result-title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  line-height: 1.8;
  text-align: center;
}
.antd-v3-result-subtitle {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}
.antd-v3-result-extra {
  margin-top: 32px;
  text-align: center;
}
.antd-v3-result-extra > * {
  margin-right: 8px;
}
.antd-v3-result-extra > *:last-child {
  margin-right: 0;
}
.antd-v3-result-content {
  margin-top: 24px;
  padding: 24px 40px;
  background-color: #fafafa;
}
