/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
@-webkit-keyframes antCheckboxEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes antCheckboxEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}
.antd-v3-tree.antd-v3-tree-directory {
  position: relative;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-switcher,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-switcher {
  position: relative;
  z-index: 1;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop {
  pointer-events: none;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-checkbox,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-checkbox {
  position: relative;
  z-index: 1;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-node-content-wrapper,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-node-content-wrapper {
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-node-content-wrapper:hover,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-node-content-wrapper:hover {
  background: transparent;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-node-content-wrapper:hover::before,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-node-content-wrapper:hover::before {
  background: #e6f7ff;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-node-content-wrapper.antd-v3-tree-node-selected,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-node-content-wrapper.antd-v3-tree-node-selected {
  color: #fff;
  background: transparent;
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-node-content-wrapper::before,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-node-content-wrapper::before {
  position: absolute;
  right: 0;
  left: 0;
  height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
}
.antd-v3-tree.antd-v3-tree-directory > li span.antd-v3-tree-node-content-wrapper > span,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li span.antd-v3-tree-node-content-wrapper > span {
  position: relative;
  z-index: 1;
}
.antd-v3-tree.antd-v3-tree-directory > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-switcher,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-switcher {
  color: #fff;
}
.antd-v3-tree.antd-v3-tree-directory > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox .antd-v3-tree-checkbox-inner,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox .antd-v3-tree-checkbox-inner {
  border-color: #1890ff;
}
.antd-v3-tree.antd-v3-tree-directory > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox.antd-v3-tree-checkbox-checked::after,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox.antd-v3-tree-checkbox-checked::after {
  border-color: #fff;
}
.antd-v3-tree.antd-v3-tree-directory > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner {
  background: #fff;
}
.antd-v3-tree.antd-v3-tree-directory > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner::after,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-checkbox.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner::after {
  border-color: #1890ff;
}
.antd-v3-tree.antd-v3-tree-directory > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-node-content-wrapper::before,
.antd-v3-tree.antd-v3-tree-directory .antd-v3-tree-child-tree > li.antd-v3-tree-treenode-selected > span.antd-v3-tree-node-content-wrapper::before {
  background: #1890ff;
}
.antd-v3-tree-checkbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  top: -0.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
.antd-v3-tree-checkbox-wrapper:hover .antd-v3-tree-checkbox-inner,
.antd-v3-tree-checkbox:hover .antd-v3-tree-checkbox-inner,
.antd-v3-tree-checkbox-input:focus + .antd-v3-tree-checkbox-inner {
  border-color: #1890ff;
}
.antd-v3-tree-checkbox-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  border-radius: 2px;
  visibility: hidden;
  -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
          animation: antCheckboxEffect 0.36s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  content: '';
}
.antd-v3-tree-checkbox:hover::after,
.antd-v3-tree-checkbox-wrapper:hover .antd-v3-tree-checkbox::after {
  visibility: visible;
}
.antd-v3-tree-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.antd-v3-tree-checkbox-inner::after {
  position: absolute;
  top: 50%;
  left: 22%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
      -ms-transform: rotate(45deg) scale(0) translate(-50%, -50%);
          transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  content: ' ';
}
.antd-v3-tree-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner::after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
      -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
          transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: ' ';
}
.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}
.antd-v3-tree-checkbox-disabled {
  cursor: not-allowed;
}
.antd-v3-tree-checkbox-disabled.antd-v3-tree-checkbox-checked .antd-v3-tree-checkbox-inner::after {
  border-color: rgba(0, 0, 0, 0.25);
  -webkit-animation-name: none;
          animation-name: none;
}
.antd-v3-tree-checkbox-disabled .antd-v3-tree-checkbox-input {
  cursor: not-allowed;
}
.antd-v3-tree-checkbox-disabled .antd-v3-tree-checkbox-inner {
  background-color: #f5f5f5;
  border-color: #d9d9d9 !important;
}
.antd-v3-tree-checkbox-disabled .antd-v3-tree-checkbox-inner::after {
  border-color: #f5f5f5;
  border-collapse: separate;
  -webkit-animation-name: none;
          animation-name: none;
}
.antd-v3-tree-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.antd-v3-tree-checkbox-disabled:hover::after,
.antd-v3-tree-checkbox-wrapper:hover .antd-v3-tree-checkbox-disabled::after {
  visibility: hidden;
}
.antd-v3-tree-checkbox-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  display: inline-block;
  line-height: unset;
  cursor: pointer;
}
.antd-v3-tree-checkbox-wrapper.antd-v3-tree-checkbox-wrapper-disabled {
  cursor: not-allowed;
}
.antd-v3-tree-checkbox-wrapper + .antd-v3-tree-checkbox-wrapper {
  margin-left: 8px;
}
.antd-v3-tree-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
}
.antd-v3-tree-checkbox-group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  display: inline-block;
}
.antd-v3-tree-checkbox-group-item {
  display: inline-block;
  margin-right: 8px;
}
.antd-v3-tree-checkbox-group-item:last-child {
  margin-right: 0;
}
.antd-v3-tree-checkbox-group-item + .antd-v3-tree-checkbox-group-item {
  margin-left: 0;
}
.antd-v3-tree-checkbox-indeterminate .antd-v3-tree-checkbox-inner {
  background-color: #fff;
  border-color: #d9d9d9;
}
.antd-v3-tree-checkbox-indeterminate .antd-v3-tree-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  border: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}
.antd-v3-tree-checkbox-indeterminate.antd-v3-tree-checkbox-disabled .antd-v3-tree-checkbox-inner::after {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}
.antd-v3-tree {
  /* see https://github.com/antd-v3-design/antd-v3-design/issues/16259 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
}
.antd-v3-tree-checkbox-checked::after {
  position: absolute;
  top: 16.67%;
  left: 0;
  width: 100%;
  height: 66.67%;
}
.antd-v3-tree ol,
.antd-v3-tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.antd-v3-tree li {
  margin: 0;
  padding: 4px 0;
  white-space: nowrap;
  list-style: none;
  outline: 0;
}
.antd-v3-tree li span[draggable],
.antd-v3-tree li span[draggable='true'] {
  line-height: 20px;
  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.antd-v3-tree li.drag-over > span[draggable] {
  color: white;
  background-color: #1890ff;
  opacity: 0.8;
}
.antd-v3-tree li.drag-over-gap-top > span[draggable] {
  border-top-color: #1890ff;
}
.antd-v3-tree li.drag-over-gap-bottom > span[draggable] {
  border-bottom-color: #1890ff;
}
.antd-v3-tree li.filter-node > span {
  color: #f5222d !important;
  font-weight: 500 !important;
}
.antd-v3-tree li.antd-v3-tree-treenode-loading span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-loading-icon,
.antd-v3-tree li.antd-v3-tree-treenode-loading span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-loading-icon {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #1890ff;
  font-size: 14px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.antd-v3-tree li.antd-v3-tree-treenode-loading span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-loading-icon svg,
.antd-v3-tree li.antd-v3-tree-treenode-loading span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-loading-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
:root .antd-v3-tree li.antd-v3-tree-treenode-loading span.antd-v3-tree-switcher.antd-v3-tree-switcher_open::after,
:root .antd-v3-tree li.antd-v3-tree-treenode-loading span.antd-v3-tree-switcher.antd-v3-tree-switcher_close::after {
  opacity: 0;
}
.antd-v3-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.antd-v3-tree li .antd-v3-tree-node-content-wrapper {
  display: inline-block;
  height: 24px;
  margin: 0;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 24px;
  text-decoration: none;
  vertical-align: top;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.antd-v3-tree li .antd-v3-tree-node-content-wrapper:hover {
  background-color: #e6f7ff;
}
.antd-v3-tree li .antd-v3-tree-node-content-wrapper.antd-v3-tree-node-selected {
  background-color: #bae7ff;
}
.antd-v3-tree li span.antd-v3-tree-checkbox {
  top: initial;
  height: 24px;
  margin: 0 4px 0 2px;
  padding: 4px 0;
}
.antd-v3-tree li span.antd-v3-tree-switcher,
.antd-v3-tree li span.antd-v3-tree-iconEle {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  border: 0 none;
  outline: none;
  cursor: pointer;
}
.antd-v3-tree li span.antd-v3-tree-iconEle:empty {
  display: none;
}
.antd-v3-tree li span.antd-v3-tree-switcher {
  position: relative;
}
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop {
  cursor: default;
}
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-icon,
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-select-switcher-icon {
  font-size: 12px;
  font-size: 10px \9;
  -webkit-transform: scale(0.83333333) rotate(0deg);
      -ms-transform: scale(0.83333333) rotate(0deg);
          transform: scale(0.83333333) rotate(0deg);
  display: inline-block;
  font-weight: bold;
}
:root .antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-icon,
:root .antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-select-switcher-icon {
  font-size: 12px;
}
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-icon svg,
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-select-switcher-icon svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-icon,
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-select-switcher-icon {
  font-size: 12px;
  font-size: 10px \9;
  -webkit-transform: scale(0.83333333) rotate(0deg);
      -ms-transform: scale(0.83333333) rotate(0deg);
          transform: scale(0.83333333) rotate(0deg);
  display: inline-block;
  font-weight: bold;
}
:root .antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-icon,
:root .antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-select-switcher-icon {
  font-size: 12px;
}
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-icon svg,
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-select-switcher-icon svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.antd-v3-tree li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-icon svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.antd-v3-tree li:last-child > span.antd-v3-tree-switcher::before,
.antd-v3-tree li:last-child > span.antd-v3-tree-iconEle::before {
  display: none;
}
.antd-v3-tree > li:first-child {
  padding-top: 7px;
}
.antd-v3-tree > li:last-child {
  padding-bottom: 7px;
}
.antd-v3-tree-child-tree > li:first-child {
  padding-top: 8px;
}
.antd-v3-tree-child-tree > li:last-child {
  padding-bottom: 0;
}
li.antd-v3-tree-treenode-disabled > span:not(.antd-v3-tree-switcher),
li.antd-v3-tree-treenode-disabled > .antd-v3-tree-node-content-wrapper,
li.antd-v3-tree-treenode-disabled > .antd-v3-tree-node-content-wrapper span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
li.antd-v3-tree-treenode-disabled > .antd-v3-tree-node-content-wrapper:hover {
  background: transparent;
}
.antd-v3-tree-icon__open {
  margin-right: 2px;
  vertical-align: top;
}
.antd-v3-tree-icon__close {
  margin-right: 2px;
  vertical-align: top;
}
.antd-v3-tree.antd-v3-tree-show-line li {
  position: relative;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher {
  color: rgba(0, 0, 0, 0.45);
  background: #fff;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop .antd-v3-tree-switcher-icon,
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop .antd-v3-select-switcher-icon {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop .antd-v3-tree-switcher-icon svg,
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher-noop .antd-v3-select-switcher-icon svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-icon,
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-select-switcher-icon {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-tree-switcher-icon svg,
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_open .antd-v3-select-switcher-icon svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-icon,
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-select-switcher-icon {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
}
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-tree-switcher-icon svg,
.antd-v3-tree.antd-v3-tree-show-line li span.antd-v3-tree-switcher.antd-v3-tree-switcher_close .antd-v3-select-switcher-icon svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.antd-v3-tree.antd-v3-tree-show-line li:not(:last-child)::before {
  position: absolute;
  left: 12px;
  width: 1px;
  height: 100%;
  height: calc(100% - 22px);
  margin: 22px 0 0;
  border-left: 1px solid #d9d9d9;
  content: ' ';
}
.antd-v3-tree.antd-v3-tree-icon-hide .antd-v3-tree-treenode-loading .antd-v3-tree-iconEle {
  display: none;
}
.antd-v3-tree.antd-v3-tree-block-node li .antd-v3-tree-node-content-wrapper {
  width: calc(100% - 24px);
}
.antd-v3-tree.antd-v3-tree-block-node li span.antd-v3-tree-checkbox + .antd-v3-tree-node-content-wrapper {
  width: calc(100% - 46px);
}
